@import url("https://fonts.googleapis.com/css?family=Playfair+Display");

.error {
  padding-top: 25%;
  padding-left: 40%;
  background-color: white;
  font-family: "Playfair Display";
  overflow-x: hidden;
  color: black;
  text-align: left;
}

header {
  padding-top: 100px;
  padding-left: 40px;
  background-color: white;
  font-family: "Playfair Display";
  overflow-x: hidden;
  color: black;
  text-align: left;
}

.otherbody {
  text-align: center;
  align-items: center;
  background-color: black;
  height: 92vh;
  width: 100vw;
}

.logo {
  background-color: black;
}

h1 {
  font-size: 45px;
}

a:link {
  color: black;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: black;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: darkgray;
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: black;
  background-color: transparent;
  text-decoration: underline;
}

body {
  width: 100vw;
  height: 100vh;
  background-color: white;
  font-family: "Playfair Display";
  color: black;
  margin-left: auto;
  margin-right: auto;
}

.projectbody {
  width: 80%;
  height: 100%;
  padding-left: 40px;
  background-color: white;
  font-family: "Playfair Display";
  color: black;
  margin-left: auto;
  margin-right: auto;
}

/*Cards*/
.wrapper {
  position: static;
  width: auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-column-gap: 6px;
  grid-row-gap: 6px;
  padding: 10px;
}

.card {
  display: grid;
  grid-template-rows: 200px 80px;
  grid-template-areas: "text" "stats";
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));

  border-radius: 18px;
  background: white;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.9);
  font-family: "Playfair Display";
  text-align: center;

  transition: 0.5s ease;
  cursor: pointer;
  margin: 30px;
}

.card-text {
  grid-area: text;
  margin: 25px;
}

.card-text .date {
  color: darkgray;
  font-size: 13px;
}

.card-text p {
  color: grey;
  font-size: 15px;
  font-weight: 300;
}

.card-text h2 {
  margin-top: 0px;
  font-size: 28px;
}
.card-stats {
  grid-area: stats;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  background: black;
}
.card-stats .stat {
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: white;
}
.card-stats .border {
  border-left: 1px solid darkgray;
  border-right: 1px solid darkgray;
}
.card-stats .value {
  font-size: 22px;
  font-weight: 500;
}
.card-stats .value sup {
  font-size: 12px;
}
.card-stats .type {
  font-size: 11px;
  font-weight: 300;
  text-transform: uppercase;
}
.card:hover {
  transform: scale(1.15);
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.6);
}

/*Navbar*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  position: static;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  background-color: black;
  font-family: "Playfair Display";
}

.logo {
  color: white;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 20px;
}

.nav-links {
  display: flex;
  justify-content: space-around;
  width: 30%;
}

.nav-links li {
  list-style: none;
}

.nav-links a {
  color: white;
  text-decoration: none;
  letter-spacing: 3px;
  font-weight: bold;
  font-size: 14px;
}

.burger {
  display: none;
}

.burger div {
  width: 25px;
  height: 3px;
  color: white;
  margin: 5px;
  transition: all 0.3s ease;
}

@media screen and (max-width: 1024px) {
  .nav-links {
    width: 60%;
  }
}

@media screen and (max-width: 768px) {
  body {
    overflow-x: hidden;
  }

  .nav-links {
    position: fixed;
    right: 0px;
    height: 92vh;
    top: 8vh;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
  }

  .nav-links li {
    opacity: 0;
  }

  .burger {
    display: block;
    cursor: pointer;
  }
}

.nav-active {
  transform: translateX(0%);
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
  opacity: 0;
}

.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}

/* checkout */
body {
  background: white;
  width: 100%;
  font-family: "Playfair Display";
  letter-spacing: 2px;
}

.no-gutters {
  padding-left: 0;
}

.heading-3 {
  text-transform: uppercase;
  font-size: 30px;
  font-weight: 700;
  padding-bottom: 20px;
}

.app-container {
  margin: 5% auto;
  width: 40%;
  height: 200px;
  background: white;
  box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.5);
}


/* .item-container .item-image img {
  height: 430px;
  width: 100%;
}

.item-image {
  position: absolute;
  z-index: 1;
}

.item-details {
  position: absolute;
  bottom: 0;
  margin-bottom: 15px;
  margin-left: 20px;
}

.item-name {
  font-size: 10px;
  font-weight: 700;
  text-transform: uppercase;
}

.item-price {
  font-size: 25px;
  font-weight: 700;
  color: #0b8a6d;
} */

.checkout {
  height: 430px;
  background: black;
  color: white;
  align-items: center;
}

.checkout-container {
  padding: 35px 25px;
}

.input {
  padding: 5px 0;
}

.input label {
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  color: white;
}

.input input {
  width: 100%;
  padding: 5px 10px;
  color: white;
  letter-spacing: 0px;
  font-size: 14px;
  background: 0;
  border: 0;
}

.input input:focus {
  outline: 0;
}

.input-field {
  border: 1px solid #78757c;
  border-radius: 5px;
  position: relative;
}

.input-field img {
  width: 25px;
  height: auto;
  position: absolute;
  right: 0;
  top: 5px;
  margin-right: 5px;
}

/* Removes form Controls  */
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}

input[type=month]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    display: none;
}

input[type=month]::-webkit-calendar-picker-indicator {
    -webkit-appearance: none;
    display: none;
}

.checkout-btn {
  background: linear-gradient(0deg, #019875, #029875);
  font-family: "Playfair Display";
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
  border: 0;
  border-radius: 5px;
  width: 100%;
  height: 40px;
  margin-top: 100px;
  color: white;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  text-shadow: 0px 2px rgba(0, 0, 0, 0.2);
  letter-spacing: 1.5px;
  cursor: pointer;
}


/* login */
.loginbody {
  background: black;
  width: 100%;
  font-family: "Playfair Display";
  letter-spacing: 2px;
  align-items: center;
  text-align: center;
}

.no-gutters {
  padding-left: 0;
}

.heading-3 {
  text-transform: uppercase;
  font-size: 30px;
  font-weight: 700;
  padding-bottom: 20px;
}

.app-container {
  margin: -4% auto;
  width: 100%;
  height: 200px;
  background: white;
}


/* .item-container .item-image img {
  height: 430px;
  width: 100%;
}

.item-image {
  position: absolute;
  z-index: 1;
}

.item-details {
  position: absolute;
  bottom: 0;
  margin-bottom: 15px;
  margin-left: 20px;
}

.item-name {
  font-size: 10px;
  font-weight: 700;
  text-transform: uppercase;
}

.item-price {
  font-size: 25px;
  font-weight: 700;
  color: #0b8a6d;
} */

.checkout {
  height: 430px;
  background: black;
  color: white;
  align-items: left;
  text-align: left;
}

.checkout-container {
  padding: 35px 25px;
}

.input {
  padding: 5px 0;
}

.input label {
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  color: white;
}

.input input {
  width: 100%;
  padding: 5px 10px;
  color: white;
  letter-spacing: 0px;
  font-size: 14px;
  background: 0;
  border: 0;
}

.input input:focus {
  outline: 0;
}

.input-field {
  border: 1px solid #78757c;
  border-radius: 5px;
  position: relative;
}

.input-field img {
  width: 25px;
  height: auto;
  position: absolute;
  right: 0;
  top: 5px;
  margin-right: 5px;
}

/* Removes form Controls  */
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}

input[type=month]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    display: none;
}

input[type=month]::-webkit-calendar-picker-indicator {
    -webkit-appearance: none;
    display: none;
}

.checkout-btn {
  background: linear-gradient(0deg, #019875, #029875);
  font-family: "Playfair Display";
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
  border: 0;
  border-radius: 5px;
  width: 100%;
  height: 40px;
  margin-top: 100px;
  color: white;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  text-shadow: 0px 2px rgba(0, 0, 0, 0.2);
  letter-spacing: 1.5px;
  cursor: pointer;
}
